#carousel-chevron {
    color: #ffffff;
}

#carousel-chevron:hover {
    color: rgb(204, 203, 203) !important;
}

#close:hover {
    color: rgb(97, 97, 97) !important;
}

#facebook:hover {
    background-color: #0043ee;
    color: white;
}

#instagram:hover {
    background: linear-gradient(to right, #ffa631, #ff2600, #ff00cc, #ac01ac);
    color: white;
}

#InternLink:hover {
    background-color: #00d2ff;;
    background-image: linear-gradient(45deg, #3a7bd5, #00d2ff);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent
}

#navbarMenu:hover {
    background-color: #e2e6ea;
}

#telegram:hover {
    background-color: #318cc9;
    color: #fff;
}

#twitter:hover {
    background-color: #03d3f8;
    color: white;
}

#youtube:hover {
    background-color: #ff0000;
    color: white;
}

.bg-ensi {
    background-image: url('mount.jpg');
    background-size: cover;
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
}

.bg-footer {
    background: #3d3d3d;   
}

.bg-sky {
    background: #00d2ff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3a7bd5, #00d2ff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3a7bd5, #00d2ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.card:hover {
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
}

.card-panel {
    width: 85%;
    height: 30vh;
    position: inherit;
    margin: auto;
    margin-top: 3vh;
    border-radius: 1rem;
    background-color: #565c63;
}

.carousel-background {
    background-position: center;
    background-size: cover;
    border-radius: 1rem;
    width: 100%;
    height: 60vh;
}

.carousel-lain-left,
.carousel-lain-right {
    top: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;
    text-align: center;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    display: flex;
    position: absolute;
}

.carousel-lain-left {
    left: 5vw;
}

.carousel-lain-right {
    right: 5vw;
}

.dark-mode {
    background: #283344;
    color: #ffffff;
}

.dark-mode #close {
    color: #ffffff !important;
}

.dark-mode #chat:hover, .dark-mode #close:hover,
.dark-mode #biUp:hover,
.dark-mode #sekrol:hover {
    color: rgb(204, 203, 203) !important;
}

.dark-mode #chat,
.dark-mode #facebookSidenav,
.dark-mode #instagramSidenav,
.dark-mode #sekrol,
.dark-mode #twitterSidenav,
.dark-mode #youtubeSidenav,
.dark-mode #telegramSidenav  {
    color: #fff;
}

.dark-mode #facebookSidenav:hover {
    background-color: #0043ee;
    border-radius: 50%;
}

.dark-mode #instagramSidenav:hover {
    background: linear-gradient(to right, #ffa631, #ff2600, #ff00cc, #ac01ac);
    border-radius: 50%;
}

.dark-mode #navbarMenu:hover {
    background-color: rgb(75, 75, 75);
}

.dark-mode #telegramSidenav:hover {
    background-color: #318cc9;
    border-radius: 50%;
}

.dark-mode #twitterSidenav:hover {
    background-color: #03d3f8;
    border-radius: 50%;
}

.dark-mode #youtubeSidenav:hover {
    background-color: #ff0000;
    border-radius: 50%;
}


.dark-mode .bg-footer,
.dark-mode .bg-sky,
.dark-mode .card,
.dark-mode article{
    background: #3f4c57 !important;
}

.dark-mode .btn-light:hover {
    color: #fff;
    background-color: #01aae8;
}

.dark-mode .nav-link,
.dark-mode .navbar-text {
    color: white;
}

.dark-mode .navbar {
    background: #00d2ff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2575e6, #32d9ff, #73efff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2575e6, #3ec1f0, #37e8ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.dark-mode .navbar-text:hover {
    background-color: #2a7ed8;
    border-radius: 0.5rem;
}

.dark-mode .sidenav2 {
    background-color: rgb(112, 110, 110);
}

.dot-indicators-lain {
    position: relative;
    margin: 10px 0; 
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.4);

}

.dot-indicators-lain:hover,
.active {
    background-color: rgb(255, 255, 255);
    transform: scale(1.4, 1.4);
}

.dot-indicators-lain a {
    position: absolute;
    width: 100%;
    height: 100%;
    color: inherit;
}

.imgzoom-cont {
    position: relative;
    overflow: hidden;
}

.imgzoom {
    top: 0;
    left: 0;
}

.imgzoom img {
    -webkit-transition: 0.6s ease;
    transition: .5s ease;
}

.imgzoom-cont:hover .imgzoom img {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}


.navbar-text:hover {
    background-color: #e2e6ea;
    border-color: #dae0e5;
    border-radius: 0.5rem;
}

.rounded-one {
    border-radius: 1rem !important;
}

.sidenav {
    position: fixed;
    width: 0;
    height: 100%;
    background-color: rgba(34, 34, 34, 0.7);
    z-index: 999999;
    display: block;
    transition: width 0.4s;
}

.sidenav2 {
    width: 60%;
    height: 100%;
    opacity: 100%;
    overflow-x: hidden;
    border-radius: 0rem 1rem 1rem 0rem;
    transition: 0.2s;
    background-color: #f8f9fa;
    display: none;
}

.title-header {
    background-image: url('Underwater.jpg');
    background-repeat: repeat;
    background-position: center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 2vh;
    font-size:calc(7vw + 1vh);
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Steelfish Rg', 'helvetica neue',
                    helvetica, arial, sans-serif;
    font-weight: 800;
    -webkit-font-smoothing: antialiased;
}